* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: hsl(233, 26%, 24%);
    --clr-secondary: hsl(233, 8%, 62%);
    --clr-accent-green: hsl(136, 65%, 51%);
    --clr-accent-blue: hsl(192, 70%, 51%);
    --bg-nav: hsl(0, 0%, 100%);
    --bg-darkgrey: hsl(220, 16%, 96%);
    --bg-grey: hsl(0, 0%, 98%);
}

html {
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}

a {
    text-decoration: none;
    font-size: .9rem;
    color: var(--clr-primary);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    position: relative;
    background-color: var(--bg-nav);
}

.logo img {
    padding-top: 5px;
}

#main-nav {
    list-style-type: none;
}

#main-nav {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 54.7449px;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background: linear-gradient(to bottom, hsla(233, 26%, 24%, 0.98), hsla(0, 0%, 98%, 0.226));
    height: 590px;
    transition: opacity .5s ease-in-out;
}

#main-nav.show {
    opacity: 1;
}

#main-nav li {
    background-color: var(--bg-nav);
    text-align: center;
    padding-bottom: .5rem;
}

#main-nav li:first-of-type {
    border-radius: 4px 4px 0 0;
    padding-top: 1rem;
}

#main-nav li:last-of-type {
    border-radius: 0 0 4px 4px;
    padding-bottom: 1rem;
}

#main-nav li a {
    display: block;
    width: 100%;
    padding: 0.5rem;
}

.menu-btn {
    margin-right: 1rem;
}

button {
    color: var(--bg-nav);
    background: linear-gradient(to right, var(--clr-accent-green), var(--clr-accent-blue));
    padding: .8rem 0;
    width: 50%;
    border-radius: 10rem;
    border: none;
    display: block;
    margin: .5rem auto;
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to right, hsl(136, 82%, 69%), hsl(192, 78%, 70%));
}

button:focus {
    outline: none;
    box-shadow: 0 4px 7.5px hsla(233, 26%, 24%, 0.3);
}

nav button {
    display: none;
}

.overview,
.services,
.latest-articles,
footer {
    width: 100%;
    padding: 13% 7%;
    text-align: center;
}

.overview {
    padding-bottom: 18%;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--bg-grey);
    position: relative;
}

.overview-image {
    background: url(../images/image-mockups.png) 50% 88% / 88% no-repeat, url(../images/bg-intro-mobile.svg) center / cover no-repeat;
    padding: 7.5rem 0;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
}

.summary {
    margin-top: 14rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
    color: var(--clr-primary);
}

.summary h1 {
    font-size: 2.2rem;
}

.summary p {
    color: var(--clr-secondary);
    line-height: 1.6;
    font-size: .8rem;
    padding: 1rem 0;
}

.services {
    background-color: var(--bg-darkgrey);
    color: var(--clr-secondary);
    line-height: 1.6;
}

.services>div:first-child {
    padding-bottom: 1rem;
}

.services h2 {
    font-size: 2rem;
}

.services>div:first-child p {
    font-size: 1rem;
}

.services div p,
.service-cards,
.cards,
.icon {
    padding: 1rem 0;
    width: 100%;
}

.icon img {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.card p {
    font-size: .8rem;
}

.latest-articles {
    background-color: var(--bg-grey);
}

.latest-articles h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.article {
    background-color: var(--bg-nav);
    margin: 1.5rem 0;
    border-radius: 0 0 6px 6px;
}

.article-image {
    width: 100%;
}

.article-image img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.article-content {
    font-size: .7rem;
    padding: 1.5em 2em;
    text-align: left;
    color: var(--clr-secondary);
}

.author {
    font-size: .65rem;
    padding-top: .5rem;
}

.headline {
    font-size: 1.1rem;
    padding: .5em 0;
}

.headline:hover {
    cursor: pointer;
    color: var(--clr-accent-green);
}

.preview {
    padding-bottom: 2rem;
    font-size: .8rem;
}

footer {
    background-color: var(--clr-primary);
    color: var(--bg-nav);
}

footer>div {
    width: 70%;
    margin: 0 auto;
}

.socials {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1rem 1rem;
}

.socials div:hover {
    cursor: pointer;
}

/* change fill color of svg when div is hovered on */
.socials div:hover svg path {
    fill: var(--clr-accent-green);
}

#footer-nav ul {
    width: 100%;
}

#footer-nav li {
    list-style-type: none;
    padding: .5rem;
    font-weight: 300;
}

#footer-nav li a:hover {
    color: var(--clr-accent-green);
}

#footer-nav a {
    color: var(--bg-darkgrey);
}

footer button {
    width: 90%;
    margin: 1rem auto;
}

.copyright {
    padding-top: .5rem;
    font-size: .7rem;
    color: var(--clr-secondary);
}

.attribution {
    font-size: 13px;
    text-align: center;
    padding: 1rem;
    font-weight: 300;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 13px;
    font-weight: 400;
}

.attribution a:hover {
    text-decoration: underline;
    color: hsl(228, 59%, 28%);
}


@media screen and (min-width: 767px) and (max-width: 1000px) {
    #main-nav {
        height: 640px;
        padding: 2rem 3rem;
    }

    #main-nav li a {
        padding: 1rem;
    }

    .overview,
    .services,
    .latest-articles,
    footer {
        width: 100%;
        padding: 7% 10%;
        text-align: center;
    }

    .overview {
        padding-bottom: 7%;
    }

    .overview-image {
        padding: 11rem 0;
        background: url(../images/image-mockups.png) 50% 40% / 88% no-repeat, url(../images/bg-intro-mobile.svg) center / cover no-repeat;
    }

    .overview button,
    footer button {
        width: 200px;
    }

    .summary {
        margin-top: 22rem;
    }

    .service-cards,
    .all-articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 2rem;
    }

    .icon img {
        width: 20%;
    }

    footer>div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
            "logo     footer-nav button"
            ".        footer-nav ."
            "socials  footer-nav copyright";
        column-gap: 5%;
        text-align: left;
    }

    .logo {
        grid-area: logo;
    }

    .socials {
        grid-area: socials;
        padding: 0;
    }

    #footer-nav {
        grid-area: footer-nav;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
    }

    #footer-nav li {
        padding: 0;
    }

    footer button {
        grid-area: button;
        width: 8rem;
        margin: 0 0 1rem auto;
    }

    footer button:focus {
        box-shadow: 0 4px 7.5px hsla(231, 11%, 87%);
    }

    .copyright {
        grid-area: copyright;
        justify-self: end;
    }
}

@media screen and (min-width: 1000px) {
    nav {
        width: 85%;
        margin: 0 auto;
        justify-content: space-around;
        padding: 0;
    }

    #main-nav {
        opacity: 1;
        position: static;
        width: 61%;
        background: var(--bg-nav);
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding-bottom: 0;
    }

    #main-nav li:first-of-type,
    #main-nav li:last-of-type {
        padding: 0;
    }

    #main-nav li {
        border-radius: 0;
        padding-bottom: 0;
        margin-right: 1rem;
    }

    #main-nav li a {
        color: var(--clr-secondary);
        border-bottom: 5px solid transparent;
        padding-bottom: 1.2rem;
    }

    #main-nav li a:hover {
        border-bottom: 5px solid var(--clr-accent-green);
        color: var(--clr-primary);
    }

    .menu-btn {
        display: none;
    }

    nav button {
        display: block;
        width: 8.5rem;
        margin: 0;
    }

    .overview,
    .services,
    .latest-articles,
    footer {
        padding: 5% 10%;
        text-align: left;
    }

    .overview {
        flex-flow: row nowrap;
        padding-top: 0;
        padding-bottom: 8.6rem;
    }

    .overview-image {
        order: 2;
        padding: 0;
        height: 740px;
        width: 58%;
        background: url(../images/image-mockups.png) 215px -120px / 88% no-repeat, url(../images/bg-intro-desktop.svg) 30px -230px / 1116px no-repeat;
    }

    .summary {
        margin-top: 8.8rem;
        width: 43%;
    }

    .summary h1 {
        font-size: 3.1rem;
    }

    .summary p {
        font-size: 1rem;
    }

    .summary button {
        margin: 0;
        width: 9rem;
    }

    .services {
        padding-top: 7%;
    }

    .services>div:first-child {
        width: 60%;
    }

    .services h2,
    .latest-articles h2 {
        font-size: 2.5rem;
    }

    .service-cards,
    .all-articles {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        gap: 1.5rem;
    }

    .icon img {
        width: 25%;
        margin: 0;
    }

    .service-cards h3 {
        font-size: 1.4rem;
    }

    .latest-articles h2 {
        padding-top: 1rem;
    }

    .headline {
        font-size: 1rem;
    }

    .preview {
        padding-bottom: .3rem;
    }

    footer>div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 2fr;
        grid-template-areas:
            "logo     footer-nav . button"
            ".        footer-nav . ."
            "socials  footer-nav . copyright";
        column-gap: 4.5rem;
        text-align: left;
    }

    .logo {
        grid-area: logo;
    }

    .socials {
        grid-area: socials;
        padding: 0;
        justify-content: flex-start;
    }

    .socials div {
        margin-right: .6rem;
    }

    #footer-nav {
        grid-area: footer-nav;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem 3rem;
    }

    #footer-nav li {
        padding: 0;
    }

    .first-column {
        grid-column: 1/2;
    }

    .second-column {
        grid-column: 2/3;
    }

    .second-column:nth-of-type(4) {
        grid-row: 1/2;
    }

    .second-column:nth-of-type(5) {
        grid-row: 2/3;
    }

    footer button {
        width: 65%;
        grid-area: button;
        margin: 0 0 1rem auto;
    }

    .copyright {
        grid-area: copyright;
        text-align: right;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    .overview,
    .services,
    .latest-articles,
    footer {
        padding: 5%;
    }

    .overview {
        padding-bottom: 5rem;
    }

    .summary {
        width: 50%;
        margin-top: 4rem;
    }

    .service-cards,
    .all-articles {
        display: grid;
        gap: 1rem;
    }

    footer>div {
        column-gap: 2rem;
    }

    footer button {
        width: 75%;
    }
}